extends layout

block page_title
  title Este es el pagina del titolo

block greeting
  h1 Hola mundo!

block software_engineer
  p Voy a ser un ingeniero de software pronto!
  img(src="/images/earth.jpg"
      alt="La tierra"
      title="La tierra")